<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formularios y Listas</title>
</head>
<body>

<button routerLink="['/formulario-alumno']">Formulario Alumno</button>

<button routerLink="['/formulario-seccion']">Formulario Seccion</button>

<button routerLink="['/lista-alumno']">Lista Alumno</button>

<button routerLink="['/lista-historial']">Lista Historial</button>


<button routerLink="['/historial']" >Historial</button>

<button routerLink="['/alumno']">Alumno</button>






</body>
</html>
